---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...attrs } = Astro.props;
const { BASE_URL } = import.meta.env;

const base = BASE_URL.endsWith('/') ? BASE_URL.slice(0, -1) : BASE_URL;
const url = `${base}${href}`;
---

<a href={url} {...attrs} target="_self"><slot /></a>
