---
import LogicParser from '@components/LogicParser';
import Layout from '@layouts/Layout.astro';
---

<Layout title="Assignments: semana 1">
  <h1>Logic parser!!!!!!!!!</h1>
  <LogicParser client:only="react" />
  <canvas id="canvas"></canvas>
</Layout>
