---
import type { WeekMetadata } from '@types';
import WeekLayout from '@layouts/WeekLayout.astro';

export const metadata: WeekMetadata = {
  title: 'Final project: Interlinker, a graph-based internet crawler',
  description: 'A real-time web crawler visualizer that can be used to search connections between different web pages.',
  img: ''
}
---

<WeekLayout
  h1_title='Interlinker: a real time web crawler'
  main_id='interlinker'
  week={3}
>
  <p>What if you can see how the web is created?</p>
  <article id="main-wrapper">
    <div id="graph" />
    <article id="graph-layout">
      <input type="text" />
    </article>
  </article>
  <script src="../../components/Interlinker/main.ts"></script>
</WeekLayout>

<style is:global lang="scss">
  main {
    padding-bottom: 0 !important;
  }
  #main-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: calc(-50vw + 50%);
  }
  #graph-layout {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }
</style>
