---
import LogicParser from '@components/LogicParser/LogicParser';
import type { WeekMetadata } from '@types';
import WeekLayout from '@layouts/WeekLayout.astro';

export const metadata: WeekMetadata = {
  title: 'Project 2: Vennbase, an easy to query multimedia database',
  description: 'A database that can be queried and visualized by using logic and set theory concepts.',
  img: ''
}
---

<WeekLayout
  h1_title='Vennbase: an easy to query multimedia database'
  main_id='#logic-parser'
  week={2}
>
  <p>Non implemented yet</p>
</WeekLayout>
