---
import LogicParser from '@components/LogicParser/LogicParser';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
import type { WeekMetadata } from '@types';

export const metadata: WeekMetadata = {
  title: 'Boolean Algebra and Logical expressions',
  description: 'This week I built a logic parser using the concepts of lexing, parsing and syntax trees.',
  img: ''
}
---

<Layout title="Assignments: semana 1">
  <Header />
  <section>
    <h1>{metadata.title}</h1>
  </section>
  <main>
    <section id="logic-parser">
      <LogicParser client:load />
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
  }

  section {
    padding: 0 1.5rem;
  }

  svg {
    display: none;
  }
</style>

<style is:inline lang="scss">
  #logic-parser input {
  }
</style>
