---
import LogicParser from '@components/LogicParser/LogicParser';
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
import type { WeekMetadata } from '@types';
import Link from '@components/Link.astro';

export const metadata: WeekMetadata = {
  title: 'Boolean Algebra and Logical expressions',
  description: 'This week I built a logic parser using the concepts of lexing, parsing and syntax trees.',
  img: ''
}
---

<Layout title="Assignments: semana 1">
  <Header />
  <main>
    <Link href="/">Go back</Link>
    <section>
      <h1>Evaluador y visualizador de proposiciones lógicas</h1>
    </section>
    <p>
        Escribe una proposición lógica par ser evaluada
    </p>
    <section id="logic-parser">
      <LogicParser client:load />
    </section>
  </main>
</Layout>

<style lang="scss">
  h1 {
    margin-top: 10px;
  }
  html {
    scrollbar-gutter: stable;
  }

  main {
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 100ch;
  }

  section {
  }

  svg {
    display: none;
  }
</style>

<style is:inline lang="scss">
  #logic-parser #input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logic-parser #rendered-input {
    display: grid;
    grid-template-rows: 1 1;
    font-family: 'mathfont';
    font-variant-ligatures: additional-ligatures;
    place-content: center;
    height: 100px;
    font-size: 1.5rem;
    border: 1px solid black;
    overflow-x: auto;
  }

  #logic-parser #rendered-input div {
    margin: 0 auto;
  }

  #logic-parser #rendered-input #error-msg {
    font-size: 1rem;
    margin-top: 10px;
  }

  #logic-parser #rendered-input .token.space {
    font-size: 10px;
  }

  #logic-parser #rendered-input .token.error {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: red;
    background-color: rgba(255, 0, 0, 0.2);
    text-decoration-thickness: 2px;
  }

  #logic-parser input {
    font-size: 1rem;
    padding: 4px 6px;
  }

  #logic-parser #svg-render {
    margin-top: 20px;
  }

  #logic-parser #clickable-tokens {
    background-color: #716a8f;
  }

  #logic-parser #clickable-tokens button {
    background-color: transparent;
    outline: 1px solid black;
    margin: 5px;
    padding: 4px 10px;
    color: white;
    background-color: #977ca5;
    font-size: 1rem;
    font-family: monospace;
    border: none;
  }

  #logic-parser #tabs-buttons {
    display: flex;
    width: 100%;
    justify-content: stretch;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  #logic-parser #tabs-buttons button {
    background-color: transparent;
    outline: 1px solid black;
    color: white;
    background-color: #977ca5;
    font-size: 1rem;
    font-family: monospace;
    border: none;
    flex-grow: 1;
  }

  #logic-parser #tabs-buttons button.active {
    background-color: #716a8f;
  }

  table {
    background: white;
    font-size: 12pt;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background: #eee;
    border: 1px solid black;
    font-weight: bold;
    padding: 3px;
  }

  td {
    border: 1px solid black;
    padding: 5px;
  }

</style>
