---
import fs from "node:fs/promises";
import { Image } from "astro:assets";

import Layout from "@layouts/Layout.astro";
import WeekItem from "@components/WeekItem.astro";
import clouds from "@assets/clouds.gif";

const weeks = await fs.readdir("../assignments");
---

<Layout title="Discrete Mathematics portfolio">
  <main>
    <h1>Discrete Mathematics portfolio</h1>
    <section id="heading">
      <h3 id="alumni">Flores Cóngora, Paolo</h3>
      <div id="collegue">Software Engineering</div>
      <div>National Mayor University of San Marcos </div>
    </section>
    <Image width={300} src={clouds} alt="Clouds moving across the sky" />
    <section>
      <h2>Assignments</h2>
      {
        weeks.map(async (week, i) => {
          const page = await import(`./assignments/${week}.astro`);
          return <WeekItem page={page} />;
        })
      }
    </section>
  </main>
</Layout>

<style>
  main {
    padding: 0px 10px;
  }

  h1 {
    margin: 1.5rem 0px 1rem 0px;
  }

  #heading {
    margin-bottom: 12px;
  }

  #alumni, #collegue {
    margin: 0px 0px 2px 0px;
    font-size: 16px;
  }
</style>
