---
import LogicParser from '@components/LogicParser/LogicParser';
import type { ProjectMetadata } from '@types';
import ProjectLayout from '@layouts/ProjectLayout.astro';

export const metadata: ProjectMetadata = {
  title: 'Project 1: Boolean Algebra and Logical expressions',
  description: 'This week we built a logic expressions parser using the concepts of lexing, parsing and syntax trees.',
  img: ''
}
---

<ProjectLayout
  h1_title='Evaluador y visualizador de proposiciones lógicas'
  main_id='#logic-parser'
  project={1}
>
  <p>Escribe una proposición lógica para ser evaluada.</p>
  <LogicParser client:load />
</ProjectLayout>

<style is:global lang="scss">
  #logic-parser #input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #logic-parser #rendered-input {
    display: grid;
    grid-template-rows: 1 1;
    font-family: 'mathfont';
    font-variant-ligatures: additional-ligatures;
    place-content: center;
    height: 100px;
    font-size: 1.5rem;
    border: 1px solid black;
    overflow-x: auto;

    div {
      margin: 0 auto;
    }

    #error-msg {
      font-size: 1rem;
      margin-top: 10px;
    }

    .token.space {
      font-size: 10px;
    }

    .token.error {
      color: rgb(0, 0, 0);
      text-decoration: underline;
      text-decoration-color: red;
      background-color: rgba(255, 0, 0, 0.2);
      text-decoration-thickness: 2px;
    }
  }

  #logic-parser input {
    font-size: 1rem;
    padding: 6px 8px;
  }

  #logic-parser #svg-render-img {
    margin-top: 20px;
  }

  #logic-parser #params-title {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-weight: 300;
    text-decoration: underline;
    margin-bottom: 6px;
  }

  #logic-parser #svg-params {
    display: flex;
    .svg-param {
      display: flex;
      align-items: center;
      margin-right: 8px;

      input {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        scale: 0.9;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
      }
    }
  }

  #logic-parser .svg-param input[type="range"]::-webkit-slider-runnable-track {
    background: #e3d9e4;
  }
  #logic-parser .svg-param input[type="range"]::-moz-range-track {
    background: #e3d9e4;
  }

  #logic-parser #clickable-tokens {
    background-color: #716a8f;

    button {
      background-color: transparent;
      outline: 1px solid black;
      margin: 5px;
      padding: 4px 10px;
      color: white;
      background-color: #977ca5;
      font-size: 1rem;
      font-family: monospace;
      border: none;
    }
  }

  #logic-parser #tabs-buttons {
    display: flex;
    width: 100%;
    justify-content: stretch;
    margin-bottom: 10px;
    margin-top: 15px;

    button {
      background-color: transparent;
      outline: 1px solid black;
      color: white;
      background-color: #977ca5;
      font-size: 1rem;
      font-family: monospace;
      border: none;
      flex-grow: 1;
    }
    button.active {
      background-color: #716a8f;
    }
  }

  table {
    background: white;
    font-size: 12pt;
    border-collapse: collapse;
    width: 100%;
  }

  th {
    background: #eee;
    border: 1px solid black;
    font-weight: bold;
    padding: 3px;
  }

  td {
    border: 1px solid black;
    padding: 5px;
  }
</style>
