---
import type { ProjectMetadata } from '@types';
import ProjectLayout from '@layouts/ProjectLayout.astro';

export const metadata: ProjectMetadata = {
  title: 'Final project: Interlinker, a graph-based internet crawler',
  description: 'A real-time web crawler visualizer that can be used to search connections between different web pages.',
  img: ''
}
---

<ProjectLayout
  h1_title='Interlinker: a real time web crawler'
  main_id='interlinker'
  project={3}
>
  <p>What if you can see how the web is created?</p>
  <p>It's <strong>impossible</strong> to map the entire internet, but what if we can generate an small portion of it?</p>
  <p>
    <h3>How it works?</h3>
    <ul>
      <li>You <strong>seed</strong> the crawler with a link ('the origin')</li>
      <li>It will start crawling the page, looking for <strong>links</strong> (<code>&lta/&gt</code> tags)</li>
      <li>The links found will be added to a <strong>queue</strong></li>
      <li>It will <strong>repeat</strong> the process for each link in the queue</li>
    </ul>
  </p>
  <p>Start <button id="scroll-to-bottom-btn">scrolling down</button> and <strong>paste a link</strong> in the search box to see it in action!</p>
  <div id="main-wrapper">
    <div id="graph" />
    <article>
      <section id="search-box">
        <input
          type="text"
          placeholder="https://somesite.com/with/links"
        />
      </section>
      <section id="current-link" />
      <section id="hightlighted-node">
        <h4></h4>
        (Click to open)
        <p></p>
      </section>
      <section id="active-origins" />
      <button id="scroll-to-top-btn">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Font_Awesome_5_solid_arrow-up.svg/896px-Font_Awesome_5_solid_arrow-up.svg.png"
          width="20px"
          title="Scroll to top"
        />
      </button>
    </article>
  </div>
  <script src="../../components/Interlinker/main.ts"></script>
</ProjectLayout>

<style is:global lang="scss">
  main {
    padding-bottom: 0 !important;

    h3 {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    ul {
      margin-top: 8px;
    }
  }
  #main-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    left: calc(-50vw + 50%);
  }
  article {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    pointer-events: none;

    #search-box {
      display: flex;
      position: absolute;
      bottom: 25px;
      left: calc(50% - 200px);
      input {
        margin: 0 auto;
        margin-top: 1rem;
        width: 400px;
        height: 40px;
        font-size: 1.2rem;
        background-color: rgb(48, 49, 49);
        border: 1px solid black;
        color: #e9e9e9;
        padding: 20px 4px;
        pointer-events: all;
        font-family: monospace;
        border-radius: 6px;
        padding-left: 10px;
      }
      input:focus {
        outline: 1px solid rgb(56, 56, 56);
      }
      input::placeholder {
        color: rgb(139, 139, 139);
      }
    }
    #hightlighted-node {
      position: absolute;
      display: none;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      top: 0;
      padding-left: 10px;
      padding-top: 10px;
      color: #c0c1eb;

      h4 {
        text-align: left;
        margin: 0;
        color: #c0c1eb;
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 0;
      }
      p {
        color: #cfcfe3;
        font-size: 1.2rem;
        margin-bottom: 6px;
      }
    }
    #current-link {
      position: absolute;
      color: rgb(190, 187, 214);
      bottom: 0;
      font-size: 1.2rem;
      white-space: nowrap;
    }
    #active-origins {
      position: absolute;
      top: 0;
      right: 0;

      div {
        background-color: #2e3436;
        margin-bottom: 8px;
        border-radius: 10px;
        padding: 4px 6px;
        margin-right: 8px;
        h4 {
          color: #cbd2d4;
          margin: 0;
          font-weight: 100;
          font-size: 1.2rem;
          margin-bottom: 4px;
        }
        button {
          width: 100%;
        }
      }
    }
    #scroll-to-top-btn {
      position: absolute;
      bottom: 25px;
      right: 20px;
      background-color: #2e3436;
      border: none;
      color: #c0c1eb;
      padding: 8px 16px;
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      font-weight: 100;
      margin-right: 8px;
      cursor: pointer;
      pointer-events: all;

      img {
        padding: 2px;
      }
    }
  }
</style>
